data_dir: data/divide_attributes
divides_path: tests/data/divide_attributes/divide_attributes_divides.gpkg # pointed at test case
divide_id: div_id
output: data/divide_attributes.gpkg
tmp_dir: data/tmp/divide-attributes
split_vpu: True
debug: False

attributes:
  bexp1:
    file_name: 'nwm/bexp_0.tif'
    agg_type: 'mode'
    field_name: 'bexp_mode'
  isltyp:
    file_name: 'nwm/ISLTYP.tif'
    agg_type: 'mode'
    field_name: 'isltyp_mode'
  ivgtyp:
    file_name: 'nwm/IVGTYP.tif'
    agg_type: 'mode'
    field_name: 'ivgtyp_mode'
  dksat:
    file_name: 'nwm/dksat_0.tif'
    agg_type: 'weighted_geometric_mean'
    field_name: 'dksat_geomean'
  psisat:
    file_name: 'nwm/psisat_0.tif'
    agg_type: 'weighted_geometric_mean'
    field_name: 'psisat_geommean'
  cwpvt:
    file_name: 'nwm/cwpvt.tif'
    agg_type: 'mean'
    field_name: 'cwpvt_mean'
  mfsno:
    file_name: 'nwm/mfsno.tif'
    agg_type: 'mean'
    field_name: 'msfno_mean'
  refkdt:
    file_name: 'nwm/refkdt.tif'
    agg_type: 'mean'
    field_name: 'refkdt_mean'
  slope_1km:
    file_name: 'nwm/slope.tif'
    agg_type: 'mean'
    field_name: 'slope1km_mean'
  smcmax:
    file_name: 'nwm/smcmax_0.tif'
    agg_type: 'mean'
    field_name: 'smcmax_mean'
  smcwlt:
    file_name: 'nwm/smcwlt_0.tif'
    agg_type: 'mean'
    field_name: 'smcwlt_mean'
  vcmx:
    file_name: 'nwm/vcmx25.tif'
    agg_type: 'mean'
    field_name: 'vcmx_mean'
  impervious:
    file_name: 'nwm/imperv.tif'
    agg_type: 'mean'
    field_name: 'imperv_mean'
  twi:
    file_name: 'twi/twi.tif'
    agg_type: 'quartile_dist'
    field_name: 'twi_quartile'
  elevation:
    file_name: 'usgs/usgs_250m_dem_5070.tif'
    agg_type: 'mean'
    field_name: 'elevation_mean'
  slope:
    file_name: 'usgs/usgs_250m_slope_5070.tif'
    agg_type: 'mean'
    field_name: 'slope250m_mean'
  aspect:
    file_name: 'usgs/usgs_250m_aspect_5070.tif'
    agg_type: 'weighted_circular_mean'
    field_name: 'aspect_circmean'
